# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Model files or data (if large or unnecessary)
# *.pkl
*.h5
*.joblib
# *.csv
# data/
# model/

# FastAPI + Uvicorn
*.db

# Azure Pipelines externals folder
/externals/